<ion-header>
  <ion-toolbar>
    <ion-title>
      Idea Log
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 50px;">
    <div>
      <h1>Add your new ideas here!</h1>
      <ion-input [(ngModel)]="newIdea" class="idea-input" type="text"></ion-input>
      <ion-button (click)="saveIdea()" class="">Submit</ion-button>
      <ion-button (click)="clearList()" color="danger">Clear List</ion-button>
    </div>
    <div style="margin-top: 50px">
      <ion-list>
        <ion-item *ngFor="let idea of ideaList; let i = index;">
          <ion-label>{{i + 1}}. {{idea}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>